.cardLayer1 {
    width: 275px;
    height: 400px;
    border-radius: var(--border-radius);
    background-color: #ffe165;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLayer2 {
    width: 90%;
    height: 93%;
    background-color: #aa53ab;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    /* background-color: green; */
    width: 88%;
}

.cardName {
    font-family: var(--ft-odibee);
    font-size: var(--fs-xl);
    text-align: center;
}

.cardElementContainer {
    display: flex;
}

.cardElement {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: white;
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardElementBug {
    background-color: #1c4b26;
}

.cardElementDark {
    background-color: #040705;
}

.cardElementDragon {
    background-color: #448b95;
}

.cardElementElectric {
    background-color: #e3e32b;
}

.cardElementFairy {
    background-color: #971944;
}

.cardElementFighting {
    background-color: #994025;
}

.cardElementFire {
    background-color: #ab1f23;
}

.cardElementFlying {
    background-color: #4a677d;
}

.cardElementGhost {
    background-color: #33336b;
}

.cardElementGrass {
    background-color: #147b3d;
}

.cardElementGround {
    background-color: #a8702c;
}

.cardElementIce {
    background-color: #86d2f5;
}

.cardElementNormal {
    background-color: #75515b;
}

.cardElementPoison {
    background-color: #5e2d88;
}

.cardElementPsychic {
    background-color: #a4296c;
}

.cardElementRock {
    background-color: #48180b;
}

.cardElementSteel {
    background-color: #5e746d;
}

.cardElementWater {
    background-color: #1552e2;
}

.cardFrame1 {
    width: 90%;
    height: 40%;
    background-color: #6e6c6d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFrame2 {
    width: 95%;
    height: 94%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}