.scene {
    width: 260px;
    height: 375px;
    perspective: 900px;
}

.fullCard {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.sceneFlip .fullCard{
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.cardFront {
    transform: rotateY(180deg);
}

.cardBack {
    border-radius: var(--border-radius);
}

.cardBackImg {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.cardLayer1 {
    /* width: 275px;
    height: 400px; */
    border-radius: var(--border-radius);
    background-color: #ffe165;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.cardLayer2 {
    width: 90%;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    /* background-color: rgb(255, 112, 112); */
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    /* background-color: green; */
    width: 88%;
}

.cardName {
    font-family: var(--ft-odibee);
    font-size: var(--fs-xl);
    text-align: center;
}

.cardElementContainer {
    display: flex;
    flex-direction: row-reverse;
}

.cardElement {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardElementBug {
    background-color: var(--color-bug);
}

.cardElementDark {
    background-color: var(--color-dark);
}

.cardElementDragon {
    background-color: var(--color-dragon);
}

.cardElementElectric {
    background-color: var(--color-electric);
}

.cardElementFairy {
    background-color: var(--color-fairy);
}

.cardElementFighting {
    background-color: var(--color-fighting);
}

.cardElementFire {
    background-color: var(--color-fire);
}

.cardElementFlying {
    background-color: var(--color-flying);
}

.cardElementGhost {
    background-color: var(--color-ghost);
}

.cardElementGrass {
    background-color: var(--color-grass);
}

.cardElementGround {
    background-color: var(--color-ground);
}

.cardElementIce {
    background-color: var(--color-ice);
}

.cardElementNormal {
    background-color: var(--color-normal);
}

.cardElementPoison {
    background-color: var(--color-poison);
}

.cardElementPsychic {
    background-color: var(--color-psychic);
}

.cardElementRock {
    background-color: var(--color-rock);
}

.cardElementSteel {
    background-color: var(--color-steel);
}

.cardElementWater {
    background-color: var(--color-water);
}

.cardFrame1 {
    width: 90%;
    height: 40%;
    background-color: #6e6c6d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFrame2 {
    width: 95%;
    height: 94%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.infoContainer {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: .5rem;
}

.info {
    font-family: var(--ft-odibee);
    font-size: var(--fs-xl)
}

@media (min-width: 688px){
    .scene {
        width: 300px;
        height: 425px;
    }
}

@media (min-width: 992px){
    .scene {
        width: 350px;
        height: 475px;
    }
}