.main {
 background: url("/pokemon-grass-background.jpeg") no-repeat fixed;
 background-size: cover;
 background-position-x: 70%;
 background-position-y: center;
 width: 100%;
 height: 100vh;
 position: absolute;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
