.main {
    background: url("/pokemon-grass-background.jpeg") no-repeat fixed;
    background-size: cover;
    background-position-x: 70%;
    background-position-y: center;
    width: 100%;
    min-height: 100vh;
   }
   
.logoContainer {
     display: flex;
     justify-content: center;
     padding-top: 1rem;
}

.cardContainer {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 688px){
    .cardContainer {
        margin-top: 2.5rem;
    }
}
